.contenedorItemsProduct {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    .contenedorProduct {
        border: 1px outset gray;
        border-radius: 2rem;
        padding: 1rem;

    }

    .imageP {
        max-width: 250p;
        max-height: 250px;
        padding: 1rem;
    }

    .title {
        height: 100px;

        .titleP {
            font-weight: bold;
        }
    }

    .priceP {
        color: green;
        font-size: 1rem;
        font-weight: bold;
    }

    .stockP {
        font-size: 1.3rem;
    }

    .btnAgregar {
        border-radius: 2rem;
        padding: .5rem;
        color: white;
        background-color: rgb(69, 201, 69);
        font-weight: bold;
        border: 2px outset rgb(113, 146, 35);
    }

    .btnAgregar:hover {
        background-color: rgb(185, 236, 143);
        color: rgb(43, 138, 43);
        transition: 1s;
        border: 2px outset white;
    }

}