.carritoContenedor {

    h2,
    p {
        font-weight: bold;
    }

    .total {
        font-weight: bold;
        text-transform: uppercase;

        span {
            color: green;
        }
    }


    .contenedorPago {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;

        .btnPagar {
            border-radius: 2rem;
            border: 2px outset greenyellow;
            background-color: rgb(90, 196, 90);
            padding: .3rem 1rem;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }

        .btnPagar:hover {
            background-color: rgb(185, 236, 143);
            color: rgb(43, 138, 43);
            transition: 1s;
        }
    }

    .carritoContenedorInterno {
        display: grid;
        grid-template-columns: 15% 55% 20% 10%;
        background-color: white;
        text-align: center;
        align-items: center;
        margin: 1rem;
        border-bottom: 1px solid grey;
        padding-bottom: 1rem;

        img {
            border: 1px solid black;
            width: 80px;
            height: 100px;
        }

        h2 {
            font-size: 1rem;
            font-weight: bold;
        }

        p {
            font-weight: bold;
        }

        .itemCantidad {
            display: flex;
            column-gap: 4rem;
        }

        .btnAyQ {
            display: flex;
            flex-direction: column;

            button {
                font-size: 2rem;
                font-weight: bold;
                background-color: white;
                border: none;
            }

            .agregar {
                color: green;
                margin-top: 0;
            }

            .quitar {
                color: red;
            }



        }
    }
}