.navegacion {
    text-align: center;
    align-items: center;

    .imgLogo {
        width: 110px;
        height: 110px;
        border-radius: 5rem;
        border: 2px outset red;
        padding: .3rem;
    }

    .nombrePagina {
        font-weight: bold;
        font-size: 1.3rem;
    }

    .contacto {
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 1rem;
    }

}